PORT=5000
NODE_ENV=development

DATABASE_URL=your_supabase_postgresql_url_here

DB_HOST=localhost
DB_PORT=5432
DB_NAME=pakipark
DB_USER=postgres
DB_PASS=postgres

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=24h

ADMIN_ACCESS_CODE=
CLIENT_URL=http://localhost:3000
